/* NAVEGACION LATERAL */

#contenido-lateral {
    font-family: "Lato", sans-serif;
}

.navegacion-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navegacion-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navegacion-lateral a:hover {
    color: #f1f1f1;
}

.navegacion-lateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .navegacion-lateral {
        padding-top: 15px;
    }

    .navegacion-lateral a {
        font-size: 18px;
    }
}

/* FIN NAVEGACION LATERAL */

/* REDES SOCIALES */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.entorno {
    background: rgb(51, 51, 51);
    padding: 50px;
    text-align: center;
}

.entorno .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}

.entorno .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.entorno .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.entorno .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.entorno .icon:hover span,
.entorno .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.entorno .twitch:hover,
.entorno .twitch:hover .tooltip,
.entorno .twitch:hover .tooltip::before {
    background-color: #9e00fa;
    color: #ffffff;
}

.entorno .twitter:hover,
.entorno .twitter:hover .tooltip,
.entorno .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.entorno .instagram:hover,
.entorno .instagram:hover .tooltip,
.entorno .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.entorno .github:hover,
.entorno .github:hover .tooltip,
.entorno .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.entorno .youtube:hover,
.entorno .youtube:hover .tooltip,
.entorno .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

/* FIN REDES SOCIALES */

.redes {
    padding-top: 100%;
}