/* NAVEGACION LATERAL */

#contenido-lateral {
    font-family: "Lato", sans-serif;
}

.navegacion-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navegacion-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navegacion-lateral a:hover {
    color: #f1f1f1;
}

.navegacion-lateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .navegacion-lateral {
        padding-top: 15px;
    }

    .navegacion-lateral a {
        font-size: 18px;
    }
}

/* FIN NAVEGACION LATERAL */

/* REDES SOCIALES */

@font-face {
    font-family: 'Mogra';
    src: url('/fonts/Mogra/Mogra-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.redes-sociales {
    background: rgb(51, 51, 51);
    padding: 50px;
    text-align: center;
    font-family: 'Mogra';
}

.redes-sociales .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}

.redes-sociales .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.redes-sociales .icon:hover span,
.redes-sociales .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.redes-sociales .twitch:hover,
.redes-sociales .twitch:hover .tooltip,
.redes-sociales .twitch:hover .tooltip::before {
    background-color: #9e00fa;
    color: #ffffff;
}

.redes-sociales .twitter:hover,
.redes-sociales .twitter:hover .tooltip,
.redes-sociales .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.redes-sociales .instagram:hover,
.redes-sociales .instagram:hover .tooltip,
.redes-sociales .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.redes-sociales .github:hover,
.redes-sociales .github:hover .tooltip,
.redes-sociales .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.redes-sociales .youtube:hover,
.redes-sociales .youtube:hover .tooltip,
.redes-sociales .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

.redes {
    padding-top: 100%;
}

/* FIN REDES SOCIALES */

/* Contenedor general de los widgets */
#widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Estilos para los widgets de clima y reloj */
.widget {
    background: #ECECEC; /* Fondo gris claro */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 260px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.widget:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
}